{% extends "chat/base.html" %}

{% load crispy_forms_tags %} 

{% block content %}
<h1>Profile Details</h1>
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>School Name:</strong> {{ profile.school_name }}</p>
    <p><strong>Preferred Subjects:</strong> {{ profile.preferred_subjects }}</p>
    <p><strong>Study Type:</strong> {{ profile.study_type }}</p>
    <p><strong>Bio:</strong> {{ profile.user_bio }}</p>
    <img src="{{ user.profile.image.url }}" alt="Profile Picture" width="150">

{% endblock content %}